html {
    background-color: #e4e4e4;
    /*color: white;*/
    padding: 20px 0;
    text-align: center;
}

#titleHeader {
    h1 {
        text-align: center; /* Центрира текста в елемента */
        margin: 0 auto; /* Автоматични отстъпи от ляво и дясно за центриране на елемента */
        width: fit-content; /* Ширината на елемента да бъде съобразена с неговото съдържание */
    }
}
/*.description{*/
/*    text-align: justify-all;*/
/*    background-color: #333;*/
/*    color: white;*/

/*}*/

.description {
    width: 60%;
    margin: 0 auto;
}
.CompanyDescription {
    text-align: justify;
    text-align-last: center;
    margin: 0;
}